@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #9FA9B8;
  color: black;
  font-family: 'Smooch Sans', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

/* nav bar appearance */
#content-list {
  height: 100%;
  width: 0; /* will be changed with javascript */
  position: fixed; /* stay it in its play, to not be attached with the other content of the page. */
  z-index: 1; /* stay on top of other uis */
  top: 0; /* stay at the top position */
  left: 0; /* stay over to the right */
  overflow-x: hidden; /* disable horizontal scrolling in the x axis. */
  padding-top: 30px; /* stay 30 pixel from the top for the content, this is padding */
  transition: 0.5s; /* transition in 0.5 seconds */
}

#content-list ul {
  padding-left: 5px;
}

#content-list li {
  list-style-type: none;
  list-style: none;
}
/* nav bar link apperance */
#content-list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
#content-list .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #content-list {padding-top: 15px;}
  #content-list a {font-size: 18px;}
}

#navbton {
  font-size:30px;
  cursor:pointer;
  position: fixed;
  z-index: 2;
}

#main {
  padding-left: 30px;
  padding-top: 5px;
}

#main h1 {
  margin-top: 0;
}
